/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@400;700&display=swap');


/* common or utilitis styles */
* {
   margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: #F3F1FF;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* top players styles */
.top-players {
   margin-bottom: 30px;
}

.section-title {
   font-size: 24px;
   color: #562EFF;
   margin-top: 3px;
   margin-bottom: 40px;
}

.container {
   background-color: #fff;
   width: 870px;
   padding: 30px;
   margin-top: 21px;
   border-radius: 5px;
}

.players {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 30px;

}

.player {
   display: flex;
   align-items: center;
}

.player img {
   width: 56px;
   height: 56px;
}

.player-name {
   margin-left: 16px;
   font-size: 18px;
}

hr {
   border: 1px solid #D1D1D1;
   margin-bottom: 27px;
}

/* ---------------------------------------------
            Top Blogs Styles
--------------------------------------------- */


.blog {
   display: flex;

}

.blog img {
   width: 177px;
   height: 117px;
}

.blog-info {
   margin-left: 16px;

}

.blog-title {
   font-size: 20px;
}

.blog-author {
   color: #9F9F9F;
   font-size: 16px;
}

.blog-author a {
   text-decoration: none;
   color: #562EFF;
}

.blogs {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-row-gap: 26px;

}

/* -------------------------------------------
      Letest Course section styles 
-------------------------------------------*/

.courses{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   
   
}
.courses .course img {
   width: 224px;
   height: 104px;
}

.fa-star.filled {
   color:#FFC014;
}
.fa-star.empty{
   color:#AEAEAE;
   opacity: 0.25;
}
.course-duration{
   background:#FEE5DF;
   border-radius: 14.6913px;
}

.course-info{
   display: flex;
   align-items: center;
   grid-column-gap: 19px;
}
.course-duration{
   color: #FF4A60;
   padding: 5px 5px;
}

/* -----------------------------
      media query
-------------------------------*/

/* mobile device */

@media only screen and (max-width:688px) {
   .container{
      width: 100%;
   }
   
   .players, .blogs{
      grid-template-columns: repeat(1, 1fr);
      
      
   }
   .player{
      flex-direction: column;
      align-items: center;
   }
   .courses{
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      margin-top: 30px;
   }
   .course-info{
      flex-direction: column;
      margin-bottom: 30px;
      
   }
}

/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 991px) {
   .container{
      width: 100%;
   }
   
   .players, .blogs{
      grid-template-columns: repeat(2, 1fr);
   }
   .player{
      flex-direction: column;
      align-items: center;
   }
   .courses{
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      margin-top: 30px;
   }
   .course-info{
      flex-direction: column;
      margin-bottom: 30px;
      
   }
}